.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateY(-100%);
}
.navbar__flex {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navbar__item {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-child {
    background-color: black;
    transform: translateX(-100%);
  }
  &:last-child {
    background-color: white;
    transform: translateX(100%);
  }
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 150%;
        color: #181818;
        text-transform: uppercase;
        margin-right: 25px;
      }
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 150%;
        color: #181818;
        text-transform: uppercase;
      }
    }
  }
}
